{% macro difficulty(diff, posted) %}
<div class="flex items-center space-x-3 p-2 rounded-lg bg-slate-600">
    <div class="flex items-end gap-0.5 ">
        <div class="h-3 w-1.5 {% if diff == 'Easy' or diff == 'Medium' or diff == 'Hard' %}bg-blue-600{% else %}bg-gray-500{% endif %} rounded-sm"></div>
        <div class="h-5 w-1.5 {% if diff == 'Medium' or diff == 'Hard' %}bg-blue-600{% else %}bg-gray-500{% endif %} rounded-sm"></div>
        <div class="h-7 w-1.5 {% if diff == 'Hard' %}bg-blue-600{% else %}bg-gray-500{% endif %} rounded-sm"></div>
    </div>
    
    <p class="{% if diff == 'Easy' %}text-green-500{% elif diff == 'Medium' %}text-yellow-500{% else %}text-red-500{% endif %}">{{diff}}</p>
    
    <div class="flex items-center space-x-1">
      <svg class="w-4 h-4"xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
      </svg>      
      <span>Posted <span class="font-semibold">{{posted}}</span></span>
    </div>
</div> 
{% endmacro %}