{% extends "navbar.html" %}
{% block content %}

<div class="bg-gray-50 h-full">
    <div class="grid grid-cols-3 gap-4 my-2 h-full">
        {% for writeup in writeups %}
        <div class="transform transition ease-in-out hover:scale-105 duration-300 flex items-center flex-col">
            <a href="/writeup/{{writeup.name}}" class="w-full flex items-center bg-white border border-gray-200 rounded-lg h-40 shadow-xl md:flex-row hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                <img class="object-contain h-full w-48 rounded-t-lg md:rounded-none md:rounded-s-lg border-r" src="/static/images/{{writeup.name}}/logo.jpg" alt="">
                <div class="flex flex-col justify-between p-4 leading-normal">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{writeup.name}}</h5>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{writeup.description}}</p>
                </div>
            </a>    
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}