{% macro code(text) %}
<code class="bg-gray-300 rounded-md px-1">{{ text | safe }}</code>
{% endmacro %}

{% macro console(command, output) %}
<section class="bg-gray-200 rounded-lg overflow-hidden w-full shadow-md mb-3 relative z-50">
    <div class="relative flex items-center py-1 border-b border-gray-600 z-50">
        <div class="flex items-center mx-auto space-x-1">
            <svg class="w-8 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 7.5l3 2.25-3 2.25m4.5 0h3M3 6v12a2.25 2.25 0 002.25 2.25h13.5A2.25 2.25 0 0021 18V6a2.25 2.25 0 00-2.25-2.25H5.25A2.25 2.25 0 003 6z" />
            </svg>
            <span>Console</span>
        </div>
        <div class="absolute right-3 flex items-center space-x-2">
            <svg class="w-3 h-3" clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><circle cx="11.998" cy="11.998" fill-rule="nonzero" r="9.998"/></svg>
            <svg class="w-3 h-3" clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><circle cx="11.998" cy="11.998" fill-rule="nonzero" r="9.998"/></svg>
            <svg class="w-3 h-3" clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><circle cx="11.998" cy="11.998" fill-rule="nonzero" r="9.998"/></svg>
        </div>
        <button id="copyButton" onclick="copyCode(this)" class="z-50 absolute top-10 right-2 copyButton">
            <svg class="w-8 h-8 text-gray-800 hover:bg-gray-300 rounded z-50" xmlns="http://www.w3.org/3000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path fill-rule="evenodd" d="M18 3a2 2 0 0 1 2 2v10a2 2 0 1 0-4 0v-6a4 4 0 0 0-4 4v3Z" clip-rule="evenodd" />
            </svg>
        </button>
    </div>
    <div class="px-3 py-1 flex justify-between items-center code overflow-x-auto">
        <pre class="text-sm whitespace-pre-wrap break-words w-full">
<span>$ </span><code>{{ command }}</code></pre>
    </div>
    <div class="px-3 overflow-x-auto">
<pre class="whitespace-pre-wrap break-words w-full"><code>{{ output }}</code></pre>
    </div>
</section>
{% endmacro %}


{% macro difficulty(diff, posted) %}
<div class="flex items-center space-x-3 py-1 rounded-lg bg-slate-600">
    <div class="flex items-end gap-0.5 ">
        <div class="h-3 w-1.5 {% if diff == 'Easy' or diff == 'Medium' or diff == 'Hard' %}bg-blue-600{% else %}bg-gray-500{% endif %} rounded-sm"></div>
        <div class="h-5 w-1.5 {% if diff == 'Medium' or diff == 'Hard' %}bg-blue-600{% else %}bg-gray-500{% endif %} rounded-sm"></div>
        <div class="h-7 w-1.5 {% if diff == 'Hard' %}bg-blue-600{% else %}bg-gray-500{% endif %} rounded-sm"></div>
    </div>
    
    <p class="{% if diff == 'Easy' %}text-green-500{% elif diff == 'Medium' %}text-yellow-500{% else %}text-red-500{% endif %}">{{diff}}</p>
    
    <div class="flex items-center space-x-1">
      <svg class="w-4 h-4"xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
      </svg>      
      <span>Posted <span >{{posted}}</span></span>
    </div>
</div> 
{% endmacro %}

{% macro header(text, id) %}
</section>
<section id="{{id}}">
<h3 class="text-3xl mb-3 font-bold">{{text}}</h3>
{% endmacro %}

{% macro image(path) %}
<div class="image-gallery flex justify-center items-center mb-3">
    <a onclick="openModal('{{ path }}')">
        <img src="{{ path }}" class="writeup-image"/>
    </a>
</div>
{% endmacro %}

{% macro link(href, icon, text) %}
<div class="flex justify-center mb-2">
    <a href="{{href}}" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700" target="_blank">
        {% if icon != "null" %}
        <img class="ml-2 w-5 h-5 object-cover rounded-t-lg md:rounded-none md:rounded-s-lg" src="{{icon}}" alt=icon"">
        {% endif %}
        <div class="flex justify-between p-2 leading-normal items-center">
            <p class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">{{text}}</p>
            <svg class="w-5 h-4 m-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5"/>
            </svg>
        </div>
    </a>
</div>
{% endmacro %}

{% macro list(entries) %}
<ul class="list-disc list-inside mb-3">
    {% for entry in entries %}
        <li>{{entry}}</li>
    {% endfor %}
</ul>
{% endmacro %}

{% macro navi(id, text) %}
<li id="{{ id }}" onclick="activate(this)" class="transform hover:text-blue-400 relative text-sm py-1 ps-3 hover:text-primary transition-all duration-500 ease-in-out border-l-4 border-gray-400 text-gray-700 dark:text-gray-300 dark:border-gray-600">
    <a class="ml-3 font-semibold" href="#{{ id }}">
        {{ text }}
    </a>
</li>
{% endmacro %}

{% macro text(text) %}
<p class="mb-3">{{ text | safe }}</p>
{% endmacro %}

{% macro script() %}
<script>
    function activate(element) {
        document.querySelectorAll("ul li").forEach((item) => {
            item.classList.remove("border-blue-500", "text-blue-400");
            item.classList.add("border-gray-400", "text-gray-700");
        });

        if (element) {
            element.classList.remove("border-gray-400", "text-gray-700");
            element.classList.add("border-blue-500", "text-blue-400");
        }
    }

    document.addEventListener("DOMContentLoaded", () => {
        const options = {
            root: document.querySelector("writeup"),
            rootMargin: "0% 0% -30% 0%",
            threshold: 0.1,
        };

        let currentActiveElement = null;

        const observer = new IntersectionObserver((entries) => {
            const visibleEntries = entries
                .filter((entry) => entry.isIntersecting)
                .sort((a, b) => b.intersectionRatio - a.intersectionRatio);

            if (visibleEntries.length > 0) {
                const navItem = document.querySelector(`a[href="#${visibleEntries[0].target.id}"]`)?.parentElement;

                if (currentActiveElement !== navItem) {
                    activate(navItem);
                    currentActiveElement = navItem;
                }
            } else if (currentActiveElement === null) {
                const sections = document.querySelectorAll("section[id]");
                let closestSection = null;
                let minDistance = Infinity;

                sections.forEach((section) => {
                    const rect = section.getBoundingClientRect();
                    const distance = Math.abs(rect.top);
                    if (distance < minDistance) {
                        minDistance = distance;
                        closestSection = section;
                    }
                });

                if (closestSection) {
                    const navItem = document.querySelector(`a[href="#${closestSection.id}"]`)?.parentElement;
                    activate(navItem);
                    currentActiveElement = navItem;
                }
            }
        }, options);

        const sections = document.querySelectorAll("section[id]");
        sections.forEach((section) => {
            observer.observe(section);
        });
    });

    function openModal(imageSrc) {
        const modal = document.getElementById("imageModal");
        const modalImage = document.getElementById("modalImage");

        modal.classList.remove("hidden");
        setTimeout(() => {
            modal.classList.remove("opacity-0");
            modal.classList.add("opacity-100");
        }, 1)
        modalImage.src = imageSrc;
    }

    function closeModal() {
        const modal = document.getElementById("imageModal");

        modal.classList.remove("opacity-100");
        modal.classList.add("opacity-0");
        setTimeout(() => {
            modal.classList.add("hidden");
        }, 201);
    }

    function copyCode(button) {
        const section = button.closest('section');
        const codeBlock = section.querySelector('.code code');
        
        navigator.clipboard.writeText(codeBlock.innerText).then(() => {
            button.innerHTML = `
            <svg class="size-6 text-green-600 w-8 h-8 hover:bg-gray-300 rounded" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
            </svg>
            `;
            setTimeout(() => {
                button.innerHTML = `
                    <svg class="w-8 h-8 text-gray-800 dark:text-white hover:bg-gray-300 rounded copyButton" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                        <path fill-rule="evenodd" d="M18 3a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1V9a4 4 0 0 0-4-4h-3a1.99 1.99 0 0 0-1 .267V5a2 2 0 0 1 2-2h7Z" clip-rule="evenodd"/>
                        <path fill-rule="evenodd" d="M8 7.054V11H4.2a2 2 0 0 1 .281-.432l2.46-2.87A2 2 0 0 1 8 7.054ZM10 7v4a2 2 0 0 1-2 2H4v6a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2h-3Z" clip-rule="evenodd"/>
                    </svg>
                `;
            }, 2000);
        });
    }
</script>
{% endmacro %}

{% macro imageModal() %}
<div id="imageModal" class="transition-opacity ease-in-out duration-200 z-50 fixed inset-0 bg-black bg-opacity-75 flex justify-center items-center hidden opacity-0" onclick="closeModal()">
    <img class="max-w-full max-h-full object-contain" id="modalImage" />
</div>
{% endmacro %}