{% from "macros.html" import difficulty, link, navi %}

{% extends "navbar.html" %}
{% block content %}

<div class="mt-5 flex px-16 w-full">
    <div class="w-full">
        <div class="flex justify-between items-start">
            <div class="w-4/5">
                <div>
                    <nav class="flex" aria-label="Breadcrumb">
                        <ol class="inline-flex items-center space-x-1 md:space-x-1 rtl:space-x-reverse">
                        <li class="inline-flex items-center">
                            <a href="/" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
                            Home
                            </a>
                        </li>
                        <li aria-current="page">
                            <div class="flex items-center">
                            <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                            </svg>
                            <span class="ms-1 text-sm font-medium text-gray-500 md:ms-2 dark:text-gray-400">{{writeup.name}}</span>
                            </div>
                        </li>
                        </ol>
                    </nav>
                </div>
                <div>
                    <h1 class="text-4xl">
                        TryHackMe:
                        <span class="font-bold">{{writeup.name}}</span>
                    </h1>
                    <p class="text-xl mt-1">{{writeup.description}}</p>
                </div>

                {{difficulty(writeup.difficulty, writeup.posted.strftime('%b %d, %Y'))}}

                <div class="flex justify-start mt-1">
                    {{link("https://tryhackme.com/r/room/whiterose", "https://tryhackme.com/r/favicon.png", "Whiterose")}}
                </div>
                <div class="border-b pb-2 mb-5 w-full">
                    {% for tag in writeup.tags %}
                        <span class="bg-gray-300 text-gray-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full">{{tag.name}}</span>
                    {% endfor %}
                </div>
            </div>

            <div class="w-1/5 flex flex-col items-center mt-5 lg:mt-0 pl-6">
                <div class="bg-gray-200 p-3 w-full">
                    <p class="text-center font-bold">Latest Writeups</p>
                    <ul>
                        <li>
                            <a class="ml-3 font-semibold" href="/writeup/Whiterose">
                                TryHackMe: Whiterose
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="flex justify-between mt-8">
            <div id="writeup" class="w-4/5">
                {{html_content | safe}}
            </div>

            <div class="w-1/5 flex flex-col items-center pl-6 sticky top-20 h-screen">
                <div class="bg-gray-200 p-3 w-full">
                    <p class="text-center font-bold">Contents</p>
                    <ul>
                        {% for list in writeup.lists %}
                            {{navi(list.href, list.name)}}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</div>

{% endblock %}
